body{
    background: #a7d899; 
}
.header-title{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}
.intro-text{
    text-align: center;
    width: 90%;
    margin: 0 auto 30px auto;
    font-size: 16px;
}
.signup-btn{
    background: #111;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto 40px auto;
    display: block;
}
.centre-card{
    width: 20%;
    margin: 0 auto 40px auto;
    text-align: center;
}
.centre-card-img{
    width: 100%;
    border-radius: 16px;
}
.black-card{
    background: #111;
    color: #fff;
    border-radius: 16px;
    width: 40%;
    margin: 0 auto 40px auto;
    padding: 16px;
    text-align: left;
}
.black-card-img{
    width: 180px;
    border-radius: 16px;
    vertical-align: middle;
    display: inline-block;
}
.black-card-content{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    width: 60%;
}
.black-card-contenth2{
    font-size: 40px;
    margin: 12px;
}
.black-card-contentp{
    font-size: 16px;
    margin-bottom: 16px;
}
.learn-btn{
    background: transparent;
    color: #fff;
    border: 1px solid;
    border-radius: 50px;
    padding-inline: 50px;
    padding-block: 15px;
    font-size: 16px;
}